.header {
  padding: 10px;
  z-index: 99;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  text-transform: capitalize;
}

.menu__nav {
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  font-size: 40px;
}
